# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Cache gradle files
      uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('*.gradle') }}
        restore-keys: |
          ${{ runner.os }}-gradle-

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Setup
      run: ./gradlew setup
    - name: Create Release
      run: ./gradlew createRelease
    - name: Create Installers
      run: |
        cd installer
        ./create_installer_unix.sh
        ./create_installer_win.sh
        cd ..

    - uses: actions/upload-artifact@v2
      with:
        name: installers for ${{ github.sha }}
        path: installer/carpet_package_*
