# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - name: 'Full'
            worldedit: 'true'
            hardcoded_optimization: 'true'
          - name: 'Survival'
            worldedit: 'false'
            hardcoded_optimization: 'true'
          - name: 'Vanilla'
            worldedit: 'false'
            hardcoded_optimization: 'false'

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Download libs
      run: |
        wget https://files.catbox.moe/wpe6a5.zip -O TISCM_libs.zip
        unzip TISCM_libs.zip

    - name: Cache gradle files
      uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
          ./projects/mcp
        key: ${{ runner.os }}-gradle-${{ hashFiles('*.gradle') }}
        restore-keys: |
          ${{ runner.os }}-gradle-

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Setup
      run: ./gradlew setup

    - name: Disable hardcoded optimizations
      if: matrix.hardcoded_optimization == 'false'
      run: |
        sed -i "s/LITHIUM_ENABLE = true/LITHIUM_ENABLE = false/g" src/main/java/me/jellysquid/mods/lithium/LithiumConfig.java
        sed -i "s/TISCM_OPTIMIZATION_ENABLE = true/TISCM_OPTIMIZATION_ENABLE = false/g" src/main/java/carpet/utils/TISCMConfig.java
    - name: Disable world edit
      if: matrix.worldedit == 'false'
      run: |
        sed -i "s/MOD_WORLDEDIT = true/MOD_WORLDEDIT = false/g" src/main/java/carpet/utils/TISCMConfig.java
    - name: Create Release
      run: ./gradlew createRelease

    - name: Create Installers
      run: |
        cd installer
        ./create_installer_unix.sh
        ./create_installer_win.sh
        cd ..

    - uses: actions/upload-artifact@v2
      with:
        name: '[${{ matrix.name }}] TISCarpet installers for ${{ github.sha }}'
        path: installer/carpet_package_*
